.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-title {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 30px;
}

.slider-carousel {
  display: flex;
  align-items: center;
  gap: 11px;
}

.slider-image {
  width: 100%;
}

.slider-image img {
  width: max-content;
  max-width: 1230px;
  height: 488px;
  border-radius: 20px;
}

.slider-back img {
  transform: rotate(180deg);
}

.slider-back,
.slider-next {
  cursor: pointer;
}
