.guestList {
  width: 100%;
  min-height: 100%;
  background-color: #140f1f;
}

.guestList-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 200px;
}

.guestList-head {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.guestList-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
  color: #ffffff;
}

.guestList-search input {
  background: none;
  padding: 11px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.guestList-list {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.guestList-list-handler {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 600;
  color: #543d86ab;
}

.guestList-add {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #9117dc;
  padding: 10px 30px;
  border: 2px solid #9117dc;
  background: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}

.guestList-add:hover {
  color: #fff;
  background-color: #9117dc;
}

.handler-text {
  font-size: 30px;
  color: #fff;
}
