.eventInfo {
  width: 100%;
  min-height: 100%;
  background: #140f1f;
}

.eventInfo-content {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.eventInfo-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 6px;
}

.eventInfo-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #d2d2d2;
  margin-bottom: 34px;
}

.eventInfo-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 50px;
  gap: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.card {
  padding: 0 0px;
}

.card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #2b1a44;
  margin-bottom: 23px;
}

.card-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #2b1a44;
}

.eventInfo-delete {
  margin-top: 60px;
}

.eventInfo-delete button {
  background: none;
  font-size: 17px;
  color: rgb(105, 106, 117);
  text-decoration: underline;
  transition: all 0.3s ease;
}

.eventInfo-delete button:hover {
  color: #853333;
}
