.login {
  width: 100%;
  min-height: 100vh;
  background-color: #221338;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: auto;
  color: #fff;
}

.login-photo img {
  max-width: 1500px;
  height: auto;
}

.login-main {
  width: 100%;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 3px;
}

.login-subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #9117dc;
  margin-bottom: 56px;
}

.login-inputs {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 56px;
}

.login-inputs input {
  width: 382px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding: 14px 20px;
  background: #ffffff;
  border-radius: 20px;
}

.login-btn {
  background: #9117dc;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fbfbfb;
  padding: 13px 44px;
  margin-bottom: 130px;
}

.login-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: -50px;
}

.login-acc {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.login-signup {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #9117dc;
}

@media (max-width: 1210px) {
  .login-photo {
    display: none;
  }

  .login {
    display: flex;
    padding-top: 30px;
  }

  .login-btn{
    margin-bottom: 60px;
  }
}

@media (max-width: 420px) {
  .login-inputs input {
    width: 300px;
  }
}


