.newEvent {
  width: 100%;
  background-color: #140f1f;
}

.newEvent-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.newEvent-image {
  width: 80%;
}

.newEvent-image img {
  width: 100%;
  height: auto;
}

.newEvent-fields {
  width: 50%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newEvent-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 60px;
}

@media (max-width: 770px) {
  .newEvent-image {
    display: none;
  }

  .newEvent-fields {
    width: 100%;
  }
}
